body {
	height: 100%;
	margin: 0;
	padding: 0;
	font: 14px RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
	overflow: hidden;
	color: rgba(0,0,0,0.8);
}

ul {
	list-style: none;
}

header {
	background-color: #3949ab;
	font-size: 2em;
	line-height: 3;
}

/** 主面板 */
#main-panel {
	align-items: stretch;
	min-height: 80%;
}

/** 所有任务分类 */
.all-categories {
	// background-color: #009688;
}

/** 每个分类下的任务 */
.all-tasks {
	background-color: #5677fc;
}

/** 详细任务 */
.task-details {
	background-color: #4dd0e1;
}

